node_modules
.next
out
build

.git
.gitignore

.env
.env.*
!.env.example

Dockerfile
docker-compose.yml

dev.log
dev.out.log
server.log
*.log

upload
uploads
.zscripts
.zscript
.claude
.z-ai-config

*.sql
README.md
worklog.md
